## {{ name }}

**Revised {{ revision_date | format_date }}. See [Revision History]({{ revision_history_url }}) for more details.**

{{ description }}

## Document Conventions

{{ document_conventions.description }}

### Term Definitions

{{ document_conventions.term_definitions.description }}
{% for term in document_conventions.term_definitions.terms %}
* **{{ term.term }}** - {{ term.definition }}
{%- endfor %}

### Presence

{{ document_conventions.presence.description }}
{% for presence in document_conventions.presence.conditions %}
* **{{ presence.name }}** - {{ presence.definition }}
{%- endfor %}

### Field Types

{{ document_conventions.field_types.description }}
{% for field_type in document_conventions.field_types.types %}
* **{{ field_type.name }}** - {{ field_type.definition }} {% if field_type.example %}<br> *Example: {{ field_type.example }}*{% endif %}
{%- endfor %}

### Field Signs

{{ document_conventions.field_signs.description }}
{% for field_sign in document_conventions.field_signs.signs %}
* **{{ field_sign.name }}** - {{ field_sign.definition }}
{%- endfor %}

*Example: {{ document_conventions.field_signs.example }}*

### Dataset Attributes

{{ document_conventions.dataset_attributes.description }}
{% for attribute in document_conventions.dataset_attributes.attributes %}
* **{{ attribute.name }}** - {{ attribute.definition }} {% if attribute.example %}<br> *Example: {{ attribute.example }}*{% endif %}
{%- endfor %}

## Dataset Files

{{ dataset_files.description }}

| **File Name** | **Presence** | **Description** |
|---------------|--------------|-----------------|
{%- for file in dataset_files.files %}
| {{ file.name }} | {{ file.presence }} | {{ file.description }} |
{%- endfor %}

## File Requirements

{{ file_requirements.description }}

{% for requirement in file_requirements.requirements %}
- {{ requirement }}
{%- endfor %}

## Dataset Publishing & General Practices

{{ dataset_publishing.description }}
{% for practice in dataset_publishing.practices %}
- {{ practice }}
{%- endfor %}